{{#each  articles }}
<div class="row pt-2 col-lg-5">

    <a class="" data-id="{{this._id}}" id="articles">
        <h3>
            {{this.title}}
        </h3>
        <h5>
            {{this.link}}
        </h5>

    </a>

   
   

</div>

 <div class="col-lg-3" id="notes">

    </div>
{{/each}}

 